.left-col {
    background: rgb(255, 74, 50);
    background: linear-gradient(90deg, rgba(255, 74, 50, 1) 55%, rgba(255, 255, 255, 1) 55%);
    padding: 5em 10em;
}

.left-col img {
    -webkit-box-shadow: 10px 10px 40px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 40px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 40px -24px rgba(0, 0, 0, 0.75);
}


.header {
    padding: 2em 5em;
}
.right-col {
    padding-top: 5em;
}

.left-col h1 {
    color: rgb(255, 74, 50);

}


.right-col h4 {
    letter-spacing: 2px;
}


.about-work {
    padding-top: 5em;
}

.red-col {
    background-color: rgb(255, 74, 50);;
}

.black-col {
    background-color: #121212;
    color: #fff;
}

.about-work .row {
    margin: 2em 12em;
}

.about-work .col-sm {
    padding: 2em;
}

.nav-col {
    padding-top: 2em;
}

.welcome {
    margin-top: 10em;
}

h5 {
    cursor: pointer;
}

.mechanic-div {
    background-color: #eee;
    margin: 10em 0;
}
.mechanic-card {
    padding: 1em;
    -webkit-box-shadow: 10px 10px 43px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 43px -23px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 43px -23px rgba(0,0,0,0.75);
    background-color: #fff;
    margin: 2em 0em;
}
.mechanic-card h4 {
    text-transform: uppercase;
    font-weight: bold;
}
.mechanic-card p {
    color: #555;
}
.card-container {
    height: 400px;
    padding: 1em;
    overflow-y: scroll;
}
.mechanic-right-col {
    padding-top: 5em;
}
